{% comment %} Navbar {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" id="navbar_title">Dashboard</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                {% comment %} <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">notifications</i>
                    <p class="d-lg-none d-md-block">
                    Notifications
                    </p>
                </a>
                </li> {% endcomment %}
                <!-- your navbar here -->
                {% comment %} Search {% endcomment %}
                <form class="form-inline ml-auto">
                    <div class="form-group has-white">
                    <input type="text" class="form-control" placeholder="Klaytn Address.." id="search_addr">
                    </div>
                    <button type="button" class="btn btn-white btn-raised btn-fab btn-fab-mini btn-round" onclick="calcSearch();">
                        <i class="material-icons">search</i>
                    </button>
                </form>
                {% comment %} End of Search {% endcomment %}
            </ul>
        </div>
    </div>
</nav>
{% comment %} Navbar {% endcomment %}