{% comment %} Common Sidebar {% endcomment %}

<div class="sidebar" data-color="green" data-background-color="black" data-image="/static/assets/img/sidebar-2.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="/" class="simple-text logo-normal">
          <img src="/static/klaycalcAssets/img/Klaytnstation Calculator_logo.png" class="img-fluid ${rounded-circle}" alt="KLAYSTATION CALCULATOR">
        </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        {% comment %} Main {% endcomment %}
        <li class="nav-item " id="sidebar_index">
          <a class="nav-link" href="/">
            <i class="material-icons">home</i>
            <p>Main</p>
          </a>
        </li>
        {% comment %} Account {% endcomment %}
        <li class="nav-item " id="sidebar_account">
          <a class="nav-link" href="/account/">
            <i class="material-icons">search</i>
            <p>Account</p>
          </a>
        </li>
        {% comment %} Donate {% endcomment %}
        <li class="nav-item " id="sidebar_donate">
          <a class="nav-link" href="/donate/">
            <i class="material-icons">info</i>
            <p>Donate</p>
          </a>
        </li>
        {% comment %} Klaystation {% endcomment %}
        <li class="nav-item " id="sidebar_donate">
          <a class="nav-link" href="https://klaystation.io/" target="_blank">
            <i class="material-icons text-success">exit_to_app</i>
            <p><b>Klaystation</b></p>
          </a>
        </li>
        {% comment %} Klayswap {% endcomment %}
        <li class="nav-item " id="sidebar_donate">
          <a class="nav-link" href="https://klayswap.com/" target="_blank">
            <i class="material-icons text-success">exit_to_app</i>
            <p><b>Klayswap</b></p>
          </a>
        </li>
      </ul>
    </div>
</div>

{% comment %} End of Sidebar {% endcomment %}