<!doctype html>
<html lang="ko">

{% comment %} Include common header {% endcomment %}
{% include './inc/header.html' %}

<body class="dark-edition">
  <div class="wrapper ">
    
    {% comment %} Include common sidebar {% endcomment %}
    {% include './inc/sidebar.html' %}

    <div class="main-panel">

      {% comment %} Include common navbar {% endcomment %}
      {% include './inc/navbar.html' %}
      
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          
        </div>
      </div>

      {% comment %} Include common footer {% endcomment %}
      {% include './inc/footer.html' %}

    </div>
  </div>
  
  {% comment %} Import Default JS Files {% endcomment %}
  {% include './inc/default_JS_files.html' %}
  {% comment %} Script {% endcomment %}
  <script src='/static/klaycalcAssets/js/donate.js'></script>
</body>

</html>