<!doctype html>
<html lang="ko">

{% comment %} Include common header {% endcomment %}
{% include './inc/header.html' %}

<body class="dark-edition">
  <div class="wrapper ">
    
    {% comment %} Include common sidebar {% endcomment %}
    {% include './inc/sidebar.html' %}

    <div class="main-panel">

      {% comment %} Include common navbar {% endcomment %}
      {% include './inc/navbar.html' %}
      
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          {% comment %} LoadingBar {% endcomment %}
          <div id="loading">
            <img id="loading-image" src="/static/klaycalcAssets/img/loading.svg" alt="Loading..." />
          </div>

          {% comment %} Donate Address {% endcomment %}
          <div class="card card-nav-tabs text-center">
            <div class="card-header card-header-success">
            ☕
            </div>
            <div class="card-body">
              <h4 class="card-title">Thanks for Donate 😘</h4>
              <br/>
              <p class="card-text" id="donateAddr">0x2eC41C940731c6CEA7275888835F8c2A6B58Ad79</p>
              <input id="copyDonateAddr" style="position:absolute; top:-9999em;" value="0x2eC41C940731c6CEA7275888835F8c2A6B58Ad79" />
              <a href="#" class="btn btn-success" id="copyAddr">주소 복사하기</a>
            </div>
          </div>

          {% comment %} Donator List {% endcomment %}
          {% comment %} 가이드 문서 내 Tables 참고 {% endcomment %}
          {% comment %} End of Donator list {% endcomment %}
        </div>
      </div>

      {% comment %} Include common footer {% endcomment %}
      {% include './inc/footer.html' %}

    </div>
  </div>
  
  {% comment %} Import Default JS Files {% endcomment %}
  {% include './inc/default_JS_files.html' %}
  {% comment %} Script {% endcomment %}
  <script src='/static/klaycalcAssets/js/donate.js'></script>
</body>

</html>