<!doctype html>
<html lang="ko">

{% comment %} Include common header {% endcomment %}
{% include './inc/header.html' %} 

<body class="dark-edition">
  <div class="wrapper ">
    
    {% comment %} Include common sidebar {% endcomment %}
    {% include './inc/sidebar.html' %}

    <div class="main-panel">

      {% comment %} Include common navbar {% endcomment %}
      {% include './inc/navbar.html' %}

      <div class="content">
        <div class="container-fluid">
          {% comment %} LoadingBar {% endcomment %}
          <div id="loading">
            <img id="loading-image" src="/static/klaycalcAssets/img/loading.svg" alt="Loading..." />
          </div>

          {% comment %} your content here {% endcomment %}
          <div class="card card-nav-tabs text-center" style="position: relative; top: 150px;">
            <div class="card-header card-header-success">
              나의 KlayStation 이율 계산하기
            </div>
            <div class="card-body">
              {% comment %} Input Address {% endcomment %}
              <div class="form-group label-floating has-danger" id="inputKlaytnAddr">
                <label class="control-label text-success">Klaytn Address 입력</label>
                      <input type="text" class="form-control" placeholder="Klaytn Address.." id="addr"/>
                <span class="form-control-feedback">
                <i class="material-icons" id="checkMark_T">done</i>
                <i class="material-icons" id="checkMark_F">clear</i>
                </span>
              </div>
              
              <a href="#" class="btn btn-success" id="calcBtn">계산하기</a>
            </div>
          </div>

        </div>
      </div>
      
      {% comment %} Include common footer {% endcomment %}
      {% include './inc/footer.html' %}

    </div>
  </div>

  {% comment %} Import Default JS Files {% endcomment %}
  {% include './inc/default_JS_files.html' %}
  {% comment %} Script {% endcomment %}
  <script src='/static/klaycalcAssets/js/index.js'></script>
</body>

</html>